@using LiquorStore.Services.Categories.Models
@model IEnumerable<CategoryServiceModel>

@if (TempData.ContainsKey("success"))
{
    <div class="alert-success">
        @TempData["success"]
    </div>
}

<h3>Categories - Total count: @Model.Count()</h3>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
    <th>
        Name
    </th>
    <th></th>
    </tr>
    </thead>

    @foreach (var c in Model)
    {
        <tbody>
            <tr>
        <td>@c.Name</td>
        <td>
            @using (Html.BeginForm("Delete", "Category", new { Id = c.Id }, FormMethod.Post))
            { 
               <input type="submit" value="Delete" class="btn btn-secondary btn-danger"/>
            }
        </td>
          </tr>
       </tbody>
            }

</table>

<a class="btn btn-secondary" href="/category/create">Add</a>

